<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-icon [name]="item.icon" item-start></ion-icon>
        {{item.title}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="itemTapped($event, item)">Click</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
